<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>

	<header th:replace="layout/layout :: inicio"></header>

	<br>

	<div class="card text-center mx-auto" style="width: 40%;">
		<br>
		<img src="/img/bono.png"  style="width: 10%; height: 55%;margin: auto;"/>
		<h3 class="card-title">Regístrate en BonoCorp!</h3>

		<div class="card-body text-left">

			<form th:action="@{/bonocorp/registro/save}" th:object="${usuario}"
				method="post">

				<div class="form-group">
					<label for="nombreUsuario">Usuario</label> <input type="text"
						class="form-control" th:field="*{nombreUsuario}" required
						pattern="[A-Za-z0-9]{4,12}"
						title="El nombre de usuario solo puede incluir mayúsculas, minúsculas y números. 
							De 4 a 12 dígitos">
				</div>

				<div class="form-group">
					<label for="Nombres">Nombre de la empresa</label> <input type="text"
						class="form-control" th:field="*{nombres}" required
						pattern="[A-Za-z   ]{4,30}"
						title="Los nombres solo pueden incluir letras. De 4 a 30 dígitos">
				</div>

				<div class="form-group">
					<label for="Contraseña">Contraseña</label> <input type="password"
						class="form-control" th:field="*{contraseña}" required
						pattern="[A-Za-z0-9]{4,12}"
						title="El contraseña solo debe incluir mayúsculas, minúsculas y números. 
							De 4 a 12 dígitos">
				</div>
				<button type="submit" class="btn-primary botonini">Registrar</button>
			</form>
		</div>

		<!-- FOOTER DEL LOGIN -->
		<div class="card-body">
			<a th:href="@{/inicio/login}">Ya tienes cuenta? Iniciar sesión</a> <b>*</b>
			<a th:href="@{#}">Olvidaste tu contraseña?</a>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>