<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head ">

</head>

<body>
	<header th:fragment="header">

		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a class="navbar-brand" href="#">BonoCorp</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/bono/misbonos/}">Mis Bonos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/bono/nuevo}">Nuevo Bono</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/misdatos}">Mis Datos</a></li>
				</ul>




				<!-- Default dropleft button -->
				<div class="btn-group dropleft">
					<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false" th:text="${autenticado.nombres}"></button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/inicio/login">Cerrar sesión</a>
						<!-- Dropdown menu links -->
					</div>
				</div>

			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

	</header>

	<!-- INICIO FORM -->
	<form th:action="@{/bono/save}" th:object="${bono}" method="post" th:fragment="formBono">

		<!-- INICIO ACORDEON -->
		<div class="accordion" id="accordion" th:fragment="bloquesAcordeon">


			<!-- BLOQUE 1 - DATOS DEL BONO -->
			<div class="card" th:fragment="bloque1">

				<button type="button" class="btn btn-acord" data-toggle="collapse" data-target="#collapseOne">Datos del
					Bono</button>

				<!-- end card header -->

				<div id="collapseOne" class="collapse" data-parent="#accordion">
					<div class="card-body">

						<div class="form-row">



							<div class="col-md-3 mb-3">
								<label for="Moneda">Moneda</label> <select id="moneda" onchange="cambia_bandera()"
									th:field="*{tipoMoneda}" class="form-control">
									<option value="1">Sol</option>
									<option value="2">Dólar</option>
									<option value="3">Euro</option>
								</select>
							</div>

							<div class="col-md-3 mb-3">
								<label> </label>
								<div class="py-3">

									<span id="simbolo"></span> <img id="bandera" height="25px" width="30px">
								</div>
							</div>

							<div class="col-md-3 mb-3">
								<label for="valorNominal">Valor nominal</label> <input 
								id="vnom" onchange="calcula_escudo()" type="number" step="0.01"
									class="form-control" th:field="*{valorNominal}" required pattern="[0-9.]+"
									title="Ingresar solo números">
							</div>

							<div class="col-md-3 mb-3">
								<label for="valorComercial">Valor comercial</label> <input type="number" step="0.01"
									class="form-control" th:field="*{valorComercial}" required pattern="[0-9.]+"
									title="Ingresar solo números">
							</div>





						</div>

						<div class="form-row">

							<div class="col-md-3 mb-3">
								<label for="fechaDeEmision">Fecha de emisión</label> <input type="date"
									class="form-control" th:field="*{fechaDeEmision}">
							</div>

							<div class="col-md-3 mb-3">
								<label for="metodo">Método</label> <select th:field="*{metodo}" class="form-control">
									<option value="Americano">Americano</option>
									<option value="Frances">Francés</option>
									<option value="Aleman">Alemán</option>
								</select>
							</div>

							<div class="col-md-3 mb-3">
								<label>Años de pago</label> <input 
								id="adp"
								onchange="calcular_periodos()"
								type="number" class="form-control"
									th:field="*{añosDePago}" required pattern="[0-9]{1,2}"
									title="Ingresar solo números (entre 1 y 2 cifras)">
							</div>

							<div class="col-md-3 mb-3">
								<label>Fecuencia de pago (dias)</label> <input 
								id = "fdp"
								onchange="calcular_periodos()"
								type="number" class="form-control"
									th:field="*{diasPorPeriodo}" required pattern="[0-9]{1,3}"
									title="Ingresar solo números (entre 1 y 3 cifras)">
							</div>

						</div>
						<!-- end form row -->

					</div>

				</div>
				<!-- end collapse -->

			</div>
			<!-- FIN BLOQUE 1 -->

			<!-- BLOQUE 2 - TASAS -->
			<div class="card" th:fragment="bloque2">

				<button class="btn btn-acord" type="button" data-toggle="collapse" data-target="#collapseTwo">Tasas y
					Plazos</button>

				<!-- END CARD HEADER -->

				<!-- inicio collapse -->
				<div id="collapseTwo" class="collapse" data-parent="#accordion">

					<div class="card-body">

						<div class="form-row">


							<div class="col-md-3 mb-3">
								<label>TEA</label>

								<div class="input-group">
									<input id="tea" th:field="*{tea}" 
									onchange="calcular_tep()"
									type="number" step="0.01" class="form-control"
										required pattern="[0-9\.]+"
										title="Ingresar solo números y como máximo un punto (.)">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>

							<div class="col-md-3 mb-3">
								<label for="metodo">Tipo de Tasa</label> <select onchange="cambia_tasa()"
									id="tipoDeTasa" class="form-control">
									<option value="1">Tasa Efectiva</option>
									<option value="2">Tasa Nominal</option>
								</select>
							</div>



							<div id="capitalizacion" class="col-md-3 mb-3" style="display: none;">
								<label for="capitalizacion">Periodo de capitalización</label> <select id="dias_cap"
									onchange="calcular_tea()" class="form-control">
									<option value=1>Diario</option>
									<option value=15>Quincenal</option>
									<option value=30>Mensual</option>
									<option value=60>Bimestral</option>
									<option value=90>Trimestral</option>
									<option value=180>Semestral</option>
								</select>
							</div>


							<div id="tasanominal" class="col-md-3 mb-3" style="display: none;">
								<label for="metodo">Tasa Nominal Anual</label>
								<div class="input-group">
									<input id="tna" type="number" step="0.01" class="form-control" required
										pattern="[0-9\.]+" onchange="calcular_tea()"
										title="Ingresar solo números y como máximo un punto (.)" value=0.00>
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>




						</div>
						<!-- end form row -->

						<div class="form-row">


							<div class="col-md-6 mb-3">
								<label>Tasa de descuento</label>
								<div class="input-group">
									<input id="tdesc" th:field="*{tasaDescuento}" 
									onchange="calcular_tperiodos()"
									type="number" step="0.01" class="form-control">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>

						</div>
						<!-- end form row -->
					</div>
					<!-- end card body -->

				</div>
				<!-- END COLLAPSE -->
			</div>
			<!-- END BLOQUE 2 -->




			<!-- BLOQUE 3 -COSTOS Y GASTOS-->
			<div class="card">


				<!-- inicio card header -->

				<button class="btn btn-acord" type="button" data-toggle="collapse" data-target="#collapseThree">Costos y
					gastos</button>
				<!-- END CARD HEADER -->

				<!-- inicio collapse -->
				<div id="collapseThree" class="collapse" data-parent="#accordion">

					<div class="card-body">


						<div class="form-row d-flex justify-content-center">


							<div class="col-md-2">
								<label>Cavali</label>
								<div class="input-group">
									<input th:field="*{porcentajeCavali}" type="number" step="0.001"
										class="form-control">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>




							<div class="col-md-2">
								<label>Colocación</label>
								<div class="input-group">
									<input th:field="*{porcentajeColocacion}" type="number" step="0.01"
										class="form-control">

									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>



							<div class="col-md-2">
								<label>Estructuración</label>
								<div class="input-group">
									<input th:field="*{porcentajeEstructuracion}" type="number" step="0.01"
										class="form-control">

									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>




							<div class="col-md-2">
								<label>Flotación</label>

								<div class="input-group">
									<input th:field="*{porcentajeFlotacion}" type="number" step="0.01"
										class="form-control">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>




							<div class="col-md-2">
								<label>Prima</label>

								<div class="input-group">
									<input th:field="*{porcentajePrima}" type="number" step="0.01" class="form-control">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>

						</div>
						<!-- end form row -->

					</div>
					<!-- end card body -->

				</div>
				<!-- END COLLAPSE -->


			</div>
			<!-- END BLOQUE 3 -->








			<!-- BLOQUE 4 - DATOS CALCULADOS -->
			<div class="card">


				<!-- inicio card header -->
				<button class="btn btn-acord" type="button" 
				data-toggle="collapse" data-target="#collapseFour">Datos
					Calculados</button>
				<!-- END CARD HEADER -->

				<!-- inicio collapse -->
				<div id="collapseFour" class="collapse" data-parent="#accordion">

					<div class="card-body">

						<div class="form-row d-flex justify-content-center">


							<div class="col-md-2">
								<label>Periodos por año</label>
								<input id="ppa" th:field="*{periodosPorAño}" 
								readonly=true type="number" class="form-control">
							</div>

							<div class="col-md-2">
								<label>Total periodos</label>
								<input id="tper" th:field="*{totalPeriodos}" 
								readonly=true type="number" class="form-control">
							</div>

							<div class="col-md-2">
								<label>Tasa d/periodo</label>
								<input id="tperiod" th:field="*{tasaPeriodo}" 
								readonly=true type="number" class="form-control">
							</div>

							<div class="col-md-2">
								<label>TEP</label>
								
								<input id="tep" th:field="*{tep}" 
								readonly=true
								type="number" class="form-control">
							</div>

							
							<div class="col-md-2">
								<label>Escudo</label>
								<input id="escudo" th:field="*{escudo}" 
								readonly=true
								type="number" step="0.001" class="form-control">
							</div>

						</div>
						<!-- end form row -->

					</div>
					<!-- end card body -->

				</div>
				<!-- END COLLAPSE -->


			</div>
			<!-- END BLOQUE 4 -->






		</div>
		<!--END ACCORDEON -->

		<!-- BOTONES -->
		<div class="d-flex justify-content-center" th:fragment="botones">

			<button type="submit" class="btn btn-primary m-4">Guardar</button>

			<a th:href="@{/bono/misbonos}" class="btn btn-danger m-4"> Cancelar</a>
		</div>
		<!-- END BOTONES -->


	</form>
	<!-- end form -->



	<footer th:replace="layout/layout :: footer "> </footer>

</body>

</html>