<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head ">
</head>

<body>


	<!-- INICIO FORM -->
	<form th:action="@{/bono/save}" th:object="${bono}" method="post" th:fragment="formBono">

		<!-- INICIO ACORDEON -->
		<div class="accordion" id="accordionExample" th:fragment="bloquesAcordeon">


			<!-- BLOQUE 1 - DATOS DEL BONO -->
			<div class="card" th:fragment="bloque1">

				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
							data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Datos
							del Bono</button>
					</h2>
				</div>
				<!-- end card header -->

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
					<div class="card-body">

						<div class="form-row">

							<div class="col-md-6 mb-3">
								<label for="valorNominal">Valor nominal</label> <input type="number" step="0.01"
									class="form-control" th:field="*{valorNominal}">
							</div>

							<div class="col-md-6 mb-3">
								<label for="valorComercial">Valor comercial</label> <input type="number" step="0.01"
									class="form-control" th:field="*{valorComercial}">
							</div>

						</div>

						<div class="form-row">

							<div class="col-md-3 mb-3">
								<label for="fechaDeEmision">Fecha de emisión</label> <input type="date"
									class="form-control" th:field="*{fechaDeEmision}">
							</div>

							<div class="col-md-3 mb-3">
								<label for="metodo">Método</label> <select th:field="*{metodo}" class="form-control">
									<option value="Americano">Americano</option>
									<option value="Francés">Francés</option>
									<option value="Alemán">Alemán</option>
								</select>
							</div>

							<div class="col-md-3 mb-3">
								<label>Años de pago</label> <input type="number" class="form-control"
									th:field="*{añosDePago}">
							</div>

							<div class="col-md-3 mb-3">
								<label>Fecuencia de pago (dias)</label> <input type="number" class="form-control"
									th:field="*{diasPorPeriodo}">
							</div>

						</div>
						<!-- end form row -->

					</div>

				</div>
				<!-- end collapse -->

			</div>
			<!-- FIN BLOQUE 1 -->

			<!-- BLOQUE 2 - TASAS -->
			<div class="card" th:fragment="bloque2">

				<div class="card-header" id="headingTwo">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
							data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Tasas
							y Plazos</button>
					</h2>
				</div>
				<!-- END CARD HEADER -->

				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

					<div class="card-body">

						<div class="form-row">
							<div class="col-md-6 mb-3">
								<label>TEA</label> <input th:field="*{tea}" type="number" step="0.01"
									class="form-control">
							</div>
						</div>
						<!-- end form row -->

						<div class="form-row">
							<div class="col-md-6 mb-3">
								<label>Tasa de descuento</label> <input th:field="*{tasaDescuento}" type="number"
									step="0.01" class="form-control">
							</div>
							<div class="col-md-6 mb-3">
								<label>Inflación estimada</label> <input th:field="*{tasaInflacionAnual}" type="number"
									step="0.01" class="form-control">
							</div>
						</div>
						<!-- end form row -->
					</div>
					<!-- end card body -->

				</div>
				<!-- END COLLAPSE -->
			</div>
			<!-- END BLOQUE 2 -->

			<!-- BLOQUE 3 -COSTOS Y GASTOS-->
			<div class="card" th:fragment="bloque3">

				<div class="card-header" id="headingThree">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
							data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Costos
							y gastos</button>
					</h2>
				</div>
				<!-- END CARD HEADER -->

				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

					<div class="card-body">


						<div class="form-row">
							<div class="col-md-2">
								<label>Cavali</label> <input th:field="*{porcentajeCavali}" type="number" step="0.01"
									class="form-control">
							</div>
							<div class="col-md-2">
								<label>Colocación</label> <input th:field="*{porcentajeColocacion}" type="number"
									step="0.01" class="form-control">
							</div>
							<div class="col-md-2">
								<label>Estructuración</label> <input th:field="*{porcentajeEstructuracion}"
									type="number" step="0.01" class="form-control">
							</div>
							<div class="col-md-2">
								<label>Flotación</label> <input th:field="*{porcentajeFlotacion}" type="number"
									step="0.01" class="form-control">
							</div>
							<div class="col-md-2">
								<label>Prima</label> <input th:field="*{porcentajePrima}" type="number" step="0.01"
									class="form-control">
							</div>
						</div>
						<!-- end form row -->
					</div>
					<!-- end card body -->

				</div>
				<!-- END COLLAPSE -->
			</div>
			<!-- END BLOQUE 3 -->

		</div>
		<!--END ACCORDEON -->

		<!-- BOTONES -->
		<div class="d-flex justify-content-center" th:fragment="botones">

			<button type="submit" class="btn btn-success m-4">
				Guardar
			</button>

			<a th:href="@{/bono/start}" class="btn btn-danger m-4">
				Cancelar</a>
		</div>
		<!-- END BOTONES -->

	</form>
	<!-- end form -->

	<footer th:replace="layout/layout :: footer "> </footer>

</body>

</html>