<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Proyecto Demo de BonoCorop">
<meta name="author" content="Javier Ramos">

<title th:text="'BonoCorp' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="/css/estilo.css" />



</head>
<body>

	<header th:fragment="inicio">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#"> BonoCorp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav nav-tabs">
					<li sec:authorize="isAnonymous()" class="nav-item">
						<a id="link-somos" class="nav-link"
						th:href="@{/bonocorp}" aria-disabled="true">¿Quienes somos?</a></li>
					<li  sec:authorize="isAnonymous()" class="nav-item">
						<a id="link-usar" class="nav-link"
						href="#" aria-disabled="true">¿Cómo usar BonoCorp?</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
						<a id="link-bono" class="nav-link" th:href="@{/bonocorp/bono/misbonos}"
						aria-disabled="true">Mis Bonos</a>
					</li>
					<li sec:authorize="hasRole('ROLE_EMPRESA')" class="nav-item">
						<a id="link-new" class="nav-link" th:href="@{/bonocorp/bono/nuevo}"
						aria-disabled="true">Nuevo Bono</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						id="link-datos" class="nav-link" th:href="@{/misdatos}"
						aria-disabled="true">Mis Datos</a></li>
				</ul>
			</div>
			<span class="navbar-text">
				<ul class="navbar-nav nav-tabs">
					<li sec:authorize="isAnonymous()" class="nav-item">
					<a class="btn btn-warning" th:href="@{/bonocorp/registro}"
						aria-disabled="true">Registrarse</a> 
					<a class="btn btn-success"
						th:href="@{/bonocorp/login}" aria-disabled="true">IniciarSesión</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="btn btn-danger" th:href="@{/logout}"
						aria-disabled="true">Cerrar Sesión: <span
							sec:authentication="name">Username</span></a></li>
				</ul>
			</span>
		</nav>


		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>

	</header>


	<footer th:fragment="footer">
		<script th:src="@{/js/scripts.js}"></script>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>