<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>

	<header th:replace="layout/layout :: inicio"></header>

	<br>
	<div class="card text-center mx-auto" style="width: 40%;">

		<br/>
		
		<img src="/img/bono.png"  style="width: 25%; height: 15%;margin: auto;"/>
		

		<h3 class="card-title">Ingresar a BonoCorp</h3>


		<div class="card-body text-left">

			<form th:action="@{/inicio/validar}" th:object="${usuario}"
				method="post">

				<div class="form-group">
					<label for="Usuario">Usuario</label> 
						<input type="text" class="form-control" 
						th:field="*{nombreUsuario}"
						placeholder="Ingrese su usuario" required/>
				</div>

				<div class="form-group">
					<label for="Contraseña">Contraseña</label> <input type="password"
						class="form-control" th:field="*{contraseña}"
						placeholder="Ingrese su contraseña" required>
				</div>
				<button type="submit" class="botonini btn-primary ">Login</button>
			</form>

		</div>
		<!-- FOOTER DEL LOGIN -->
		<div class="card-body">
			<a th:href="@{/inicio/signin}">Regístrate en BonoCorp</a> <b>*</b> <a
				th:href="@{#}">Olvidaste tu contraseña?</a>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>