<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head ">
</head>

<body>

	<header th:replace="layout/layout :: header "> </header>


	<div class="d-flex justify-content-center">

		<button class="btn btn-primary m-2 w-50" type="button"
			data-toggle="collapse" data-target="#collapseFormulario"
			aria-expanded="true" aria-controls="collapseFormulario">Editar
			bono</button>
		<button class="btn btn-primary m-2 w-50" type="button"
			data-toggle="collapse" data-target="#collapseTabla"
			aria-expanded="false" aria-controls="collapseTabla">Calculo
			de flujo</button>
	</div>
	<div class="containter py-4">

		<div class="collapse multi-collapse" id="collapseFormulario">
			<div class="card card-body">
				<form th:replace="layout/bono :: formBono"></form>
			</div>
		</div>

		<div class="collapse multi-collapse" id="collapseTabla">
			<div class="card card-body">
				<!-- FLUJO PROYECTADO -->
				<table th:if="${not #lists.isEmpty(cuotas)}"
					class="table table-hover">
					<thead>
						<tr>
							<th>N°</th>
							<th>Bono</th>
							<th>Bono Indexado</th>
							<th>Cupón</th>
							<th>F/Emisor</th>
							<th>F/Emisor /c Escudo</th>
							<th>F/Bonista</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="cuota:${cuotas}">
							<th th:text="${cuota.numeroCuota}"></th>
							<th th:text="${cuota.valorBono}">-</th>
							<th th:text="${cuota.bonoIndexado}">-</th>
							<th th:text="${cuota.cupon}"></th>
							<th th:text="${cuota.flujoEmisor}">F/Emisor</th>
							<th th:text="${cuota.flujoEmisorConEscudo}">F/Emisor</th>
							<th th:text="${cuota.flujoBonista}">F/Bonista</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer "> </footer>

</body>

</html>